$mainBackgroundColor: #4B6447;
$mainBackgroundColorFontColor: #FFF8DF;


$secondaryBackgroundColor: #F8F9EE;
$secondaryBackgroundColorFontColor: #546B00;


$thirdlyBackgroundColor: #fdffe18e;
$thirdlyBackgroundColorFontColor: #546B00;

.mainBackgroundColor {
    background-color: $mainBackgroundColor;
    color: $mainBackgroundColorFontColor;
}

.secondaryBackgroundColor {
    background-color: $secondaryBackgroundColor;
    color: $secondaryBackgroundColorFontColor;
}

.thirdlyBackgroundColor {
    background-color: $thirdlyBackgroundColor;
    color: $thirdlyBackgroundColorFontColor;
}


//carousel control rengini değiştirmek için https://stackoverflow.com/questions/46249541/change-arrow-colors-in-bootstraps-carousel "fill" kısmına %23ten sonra rengin hex kodu
// .carousel-control-prev-icon-override {
//     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
// }

// .carousel-control-next-icon-override {
//     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
// }

//çalışmıyor^^
// .carousel-control-next-override,
// .carousel-control-prev-override /*, .carousel-indicators */ {
//     filter: invert(100%) !important;
// }